:root {
  --vp-c-brand-1: #e2603f;
  --vp-c-brand-2: #c94e2f;
  --vp-c-brand-3: #ad3f24;
  --vp-c-brand-5: #832d19;
  --vp-c-brand-soft: rgba(226, 96, 63, 0.14);
  --vp-code-bg: #e2603f14;
  --vp-code-color: #ad3f24;
  --vp-code-comment-color: #656969;
}

.dark {
  --vp-c-brand-soft: rgba(232, 138, 113, 0.16);
  --vp-code-bg: #00000014;
  --vp-code-color: var(--vp-c-brand-1);
  --vp-code-comment-color: #898b8b;
}

html .vp-code .comment-line span {
  color: var(--vp-code-comment-color);
  font-style: italic;
}

code {
  background-color: var(--vp-code-bg);
  border-radius: 4px;
  color: var(--vp-code-color);
  font-size: var(--vp-code-font-size);
  padding: 3px 6px;
}

.vp-doc td {
  vertical-align: top;
}